body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F4F4F4;
}

.wrapper {
  margin: 5% 25%;
}

.main-block {
  background-color: #F4F4F4;
}

.btn-red{
  background-color: #F3303E;
  transition: all .3s ease-in-out;
  min-width: 125px;
  margin: 0 10px;
}

.btn-red:hover{
  background-color: #F3848C;
}
.btn-blue{
  background-color: #3750C7;
  transition: all .3s ease-in-out;
  min-width: 125px;
  margin: 0 10px;
}

.btn-blue:hover{
  background-color: #506DFF;
}

.list-elem {
  margin: 10px 0;
  background-color: #E9EAEE;
}

.show {
  display: block !important;
}

.modal-rent {
  display: none;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: all .2s ease-in-out;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}